/* styles.css */
.rotating-logo {
    width: 100px; /* Ajusta el ancho según tus preferencias */
    height: 100px; /* Ajusta la altura según tus preferencias */
    transition: transform 0.3s ease; /* Agrega una transición suave */
}

.rotating-logo:hover {
    animation: flip 0.1s ease; /* Agrega la animación tipo "giro de moneda" al pasar el mouse */
}

@keyframes flip {
    0% {
        transform: perspective(100px) rotateY(0deg); /* Estado inicial sin giro */
    }
    50% {
        transform: perspective(100px) rotateY(180deg); /* Gira 90 grados en la mitad de la animación */
    }
    100% {
        transform: perspective(100px) rotateY(360deg); /* Gira 180 grados al final de la animación */
    }
}

.gray-box {
    background-color: rgba(160, 159, 159, 0.8); /* Color de fondo gris con opacidad */
    padding: 20px;
    text-align: center;
    margin-top: 50px; /* Espacio en blanco arriba del recuadro gris */
    max-width: 600px;
    margin: 0 auto;
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 0 10px rgb(0, 0, 0); /* Sombra suave */
}

   /*Barras de nivel de dominio de lenguajes de programacion*/
.niveles-programacion {
    background-color: rgba(255, 255, 255, 0.8);
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    margin-top: 30px;
}

.nivel {
    margin-bottom: 20px;
}

.nivel p {
    font-size: 1.2em;
    margin-bottom: 5px;
}

.barra {
    background-color: #ddd;
    height: 20px;
    border-radius: 10px;
    width: 80%;
    margin: 0 auto;
}

.nivel-python {
    width: 55%; /* Ajusta el ancho según tu nivel en Python */
    background-color: #4CAF50; /* Color verde para Python */
    height: 100%;
    border-radius: 10px;
}

.nivel-java {
    width: 63%; /* Ajusta el ancho según tu nivel en Java */
    background-color: #FFC107; /* Color amarillo para Java */
    height: 100%;
    border-radius: 10px;
}

.nivel-html-css {
    width: 75%; /* Ajusta el ancho según tu nivel en HTML & CSS */
    background-color: #2196F3; /* Color azul para HTML & CSS */
    height: 100%;
    border-radius: 10px;
}

/*Ethan Joshua Silvestre Badia*/