/* styles.css */
.rotating-logo {
    width: 100px; /* Ajusta el ancho según tus preferencias */
    height: 100px; /* Ajusta la altura según tus preferencias */
    transition: transform 0.5s ease; /* Agrega una transición suave */
}

.rotating-logo:hover {
    animation: flip 0.5s ease; /* Agrega la animación tipo "giro de moneda" al pasar el mouse */
}

@keyframes flip {
    0% {
        transform: perspective(100px) rotateY(0deg); /* Estado inicial sin giro */
    }
    50% {
        transform: perspective(100px) rotateY(180deg); /* Gira 90 grados en la mitad de la animación */
    }
    100% {
        transform: perspective(100px) rotateY(360deg); /* Gira 180 grados al final de la animación */
    }
}
/*Ethan Joshua Silvestre Badia*/